<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake Game</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div id="menu">
        <h1 id="gameOverScore">Game Over - Score: <b>0</b></h1>

        <label>Enter Nickname:</label>
        <input type="text" id="nickname" placeholder="Your name">

        <label>Snake Color:</label>
        <input type="color" id="snakeColor" value="#00FF00">

        <div style="display: flex; width: 100%; gap: 10px; margin-top: 10px;">
            <div style="flex: 1;">
                <label>Difficulty:</label>
                <select id="difficulty">
                    <option value="120" data-name="easy">Easy</option>
                    <option value="80" data-name="medium" selected>Medium</option>
                    <option value="40" data-name="hard">Hard</option>
                </select>                
            </div>
            <div style="flex: 1;">
                <button onclick="startGame()">Start Game</button>
            </div>
        </div>

        <p id="highScore">High Score: 0</p>
    </div>

    <div id="scoreDisplay">Score: 0</div>
    <canvas id="gameCanvas" width="1000" height="800"></canvas>

    <div id="leaderboard">
        <h2>Top 10</h2>
        <ul id="topScoresList"></ul>
    </div>    

    <script src="static/script.js"></script>
</body>
</html>
